@using InvoiceApp.Application.Invoices.Get;
@model List<InvoiceResponse>
@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center mb-3">Invoices</h1>
<a class="btn btn-primary" asp-page="/Invoices/Create">New Invoice</a>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Invoices ID</th>
            <th>Client ID</th>
            <th>Status</th>
            <th>Total Amount</th>
            <th>Issue Date</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="tabel-group-divider">
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.Id</td>
                <td>@invoice.ClientId</td>
                <td>@invoice.Status</td>
                <td>@invoice.TotalAmount.ToString("C")</td>
                <td>@invoice.InvoiceDate.ToString("MM/dd/yyyy")</td>
                <td>@invoice.DueDate.ToString("MM/dd/yyyy")</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="/Invoices/Edit" asp-route-id="@invoice.Id">
                        Details
                    </a>
                    <a class="btn btn-danger btn-sm" asp-page="/Invoices/Delete" asp-route-id="@invoice.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

